/* FORSIDE */

.illustration {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.illustration img{ 
    width: 90%;
}

/* FORSIDE SLUT */

/* HEADER + FOOTER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    text-transform: uppercase;
}

.logo{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: inherit;
}


nav {
    display: none;
  }

.burger {
  font-size: 35px;
  margin-bottom: 5px;
}
  

.hidden-menu {
    display: block;
    background-color: #E8E4D9;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
  }
 

.hidden-menu {
    display: none;
}

.hidden-menu.show {
    display: block; 
}


.hidden-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.hidden-menu li {
    font-size: 6vw;
    padding: 6vw; 
    text-transform: uppercase;
}

.hidden-menu ul li:hover {
text-decoration: underline;
}

.hidden-menu p{
  font-family: futura, sans-serif;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
}


/* TEMAER */
.temaer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.temaer div{
  padding: 10px;
}

section h3 {
  margin-bottom: 0.2em; }

section p {
  margin-top: 0;
}

.temaer a:hover{
    text-decoration: underline;
  }

  /* KONTAKT */
  .info{
    margin-top: 50px;
    
  }
  .info div{
    padding: 30px;
  }

  /* OM */
  .om{
    padding: 50px;
  }

  .om img{
    width: 100%;
  }

@media (width > 800px){


    .burger-menu {
        display: none; 
      }

      nav {
        display: block;
        margin-left: auto;
        font-size: 14px;
        padding: 10px;
        position: relative;
        cursor: pointer;
      }
      
      nav ul {
        display: flex;
        gap: 50px; 
        list-style-type: none;
        margin: 0;
      }

      nav ul li:hover{
        text-decoration: underline;
      }

      .om{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
      }

      .om p{
        font-size: 1.5vw;
      }
    
    
}