/* Overordnet */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  display: block;
}

section{
  margin-top: 50px;
}

body{
   background-color: #E8E4D9;
   color: #204ECF;
   margin: 0;
   padding: 0;
   background-image: url('../img/twirl1.png'); 
   background-size: auto;
   background-repeat: repeat;
   font-family: futura, sans-serif;
}

body.index{
   background-color: #204ECF;
   background-image: none;
}

main{
   /* display: flex; */
   /* flex-direction: column;
   justify-content: center; */
   /* text-align: center; */
   /* margin: 50px;
   margin-top: 0; */
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   width: 80%;
  
  }

  
  /******************************* mobil ************************************/
  
  h1, h2, h3{
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 10px;
  }

  h1{
    font-size: 1.5rem;
  }
  
  /* section{
    padding: 20px;
  } */
  
  p{
    font-size: 14px;
    line-height: 2em;
  }
  
  /* HEADER + FOOTER */
  header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      text-transform: uppercase;
      background-color: #E8E4D9;
  }
  
  .logo{
    font-weight: bold;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  
  nav {
      display: none;
    }
  
  .burger {
    font-size: 35px;
    margin-bottom: 5px;
  }
    
  
  .hidden-menu {
      display: block;
      background-color: #E8E4D9;
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 1;
      height: 100%;
    }
   
  
  .hidden-menu {
      display: none;
  }
  
  .hidden-menu.show {
      display: block; 
  }
  
  
  .hidden-menu ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  .hidden-menu li {
      font-size: 6vw;
      padding: 6vw; 
      text-transform: uppercase;
  }
  
  .hidden-menu ul li:hover {
  text-decoration: underline;
  }
  
  .hidden-menu p{
    font-family: futura, sans-serif;
  }
  
  footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
  }
  
  /*****************FORSIDE ***********************/
  
  .illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  .illustration img {
  width: 100%;
  object-fit: contain;
}

.cover nav{
  color: #E8E4D9;
  text-transform: uppercase;
  display: block;
}

.cover nav ul{
  list-style-type: none;
}

.t{
  position: relative;
  top: 50%;
}


/*****************************TEMA - OVERSIGT **************************/
.temaer{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
}

.temaer h1, h3{
  text-align: center;
}

.temaer div{
  padding: 10px;
}


.temaer a:hover{
    text-decoration: underline;
  }



  /***************************** KONTAKT ****************************/
  .info{
    margin-top: 50px;
    text-align: center;
  }

  .info h2{
    text-align: center;
  }



  /* OM */





  /* T02 */


  .tilbage {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0044CC;
    font-size: 14px;
    padding: 10px;
  
}

.pil {
    width: 14px; 
    height: auto;
    margin-right: 8px;
}

.grid_1_1_1 > div:nth-child(3) {
  margin-bottom: 20px;
}



/***************************** TABLET ****************************/


@media (width > 768px){

  h1{
    font-size: 3rem;
  }

    .burger-menu {
        display: none; 
      }

      nav {
        display: block;
        margin-left: auto;
        font-size: 14px;
        padding: 10px;
        position: relative;
        cursor: pointer;
      }
      
      nav ul {
        display: flex;
        gap: 50px; 
        list-style-type: none;
        margin: 0;
      }

      nav ul li:hover{
        text-decoration: underline;
      }

      .om{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
      }

      .om p{
        font-size: 1.5vw;
      }   
      

    

}


/******************* desktop ***************'*/


@media (width > 1024px){
  
 

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 87px;
  }  
  
  
  .text_flex{
    display: flex;
    gap: 82px;
  }

  .text_flex h1{
    text-align: left;
  }

  }









