/* layout.css eller style.css */
body.index, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration img {
    max-width: 90%;
}
