body.index{
    background-color: #204ECF;
}

body{
    background-color: #E8E4D9;
    color: #204ECF;
    font-family: futura, sans-serif;
}
 main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }

 h1, h2{
    text-transform: uppercase;
 }

 p{
    line-height: 2em;
 }